.counter-display{
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 100px;
    width: 25%;
}

.counter-display div{
    display: inline-block;
    font-size: 100px;
    width: 80px;
}

.bi-alarm {
    height: 80px;
    width: 80px;
    margin-bottom: 20px;
}